# ==============================================================================================
# Kickstart: ks-kvm-Offline-Dynamic.cfg
# Description: Anaconda Kickstart: Automated Wipe of All Disks and Installation of Rocky Linux / RHEL 9.x 
# Author: Mahdi Bahmani
# Date: 2025-09-23
# Usage: 
# =========================== 1. Boot with Kickstart over HTTP/HTTPS:===========================
#
# Boot your target machine from the Rocky Linux / RHEL ISO.
# At the GRUB menu:
#    Highlight Install Rocky Linux / RHEL.
#    Press e (UEFI/GRUB) or Tab (BIOS) to edit the kernel line.
#
# DHCP example:
# inst.ks=http://192.168.56.100/ks-kvm-Offline-Dynamic.cfg ip=dhcp
#
# or
# inst.ks=http://192.168.56.100/ks-kvm-Offline-Dynamic.cfg ip=dhcp ip=dhcp
#
# Static multi-NIC example:
# inst.ks=http://192.168.56.100/ks-kvm-Offline.cfg ip=172.28.150.130::172.28.150.1:255.255.255.0:kvm-node40.lab.local:ens33:none \
# ip=172.28.178.130::172.28.178.1:255.255.255.0:kvm-node01-data:ens224:none \
# ip=dhcp:ens256 nameserver=8.8.8.8
#
# Press Ctrl + x to boot.
# =========================== 2. Boot with Kickstart from USB: =================================
#
#    At the boot menu, hit e (UEFI) or Tab (BIOS). On the kernel line (linux or linuxefi), append:
#    
#    inst.ks=hd:LABEL=USBLABEL:/ks-kvm-Offline-Dynamic.cfg
#
#    Replace USBLABEL with your USB’s label (check with blkid). Press Ctrl + x to boot.
#
# =========================== 3. Embed Kickstart into ISO: =====================================
#
#    At the boot menu, hit e (UEFI) or Tab (BIOS). On the kernel line (linux or linuxefi), append:
#    
#    inst.ks=cdrom:/ks-kvm-Offline-Dynamic.cfg
#
#    Replace USBLABEL with your USB’s label (check with blkid). Press Ctrl + x to boot.
#
# ==============================================================================================
#version=RHEL9
#
# GUI/TUI: Use graphical install/ Use textual install
#graphical
text

# Do not configure the X Window System
skipx

# Installation Media: Use CDROM installation media
cdrom

# Keyboard Layout:
keyboard --xlayouts='us','de' --switch='grp:alt_shift_toggle'

# System Timezone
timezone Europe/Berlin --utc

# System Language
lang en_US.UTF-8 --addsupport=de_DE.UTF-8

# Network: Static
#network  --bootproto=static --device=ens33 --gateway=192.168.122.1 --ip=192.168.122.111 --nameserver=1.0.0.1,1.1.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
#network --hostname=autoinstall-preserve.lab.local

# Network: DHCP
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network --hostname=kvm40.lab.local

# Root password
rootpw --iscrypted --allow-ssh $6$uPZGY1HBsSEPyWz3$6jNM0XHTahIT0Q7Fa39hYAxpfW27764e0KsbjcVW3B34pTBzKglqjnVrs5qeVtkSG0SBrMQSv4dHas/6Gcp6l/

# Create User: sysadmin
user --groups=wheel --name=sysadmin --password=$6$ioS1PzHEn8H6/fkn$2qtUUxrsaDEW.oRp1Cicc1Ju4iYF51mfID4eNekd2YvETjCVgrB87pAz4FjLD1De1rIvlo9X3jj.K7k8CKthD0 --iscrypted --gecos="sysadmin"

# SELinux configuration
selinux --disabled

# Enable SSH server
services --enabled="sshd,chronyd"
services --disabled="kdump"

##################  Disk policy: Dynamic disk detection ####################
##########################

%pre --interpreter=/usr/bin/bash --log=/root/anaconda-ks-pre.log
echo "===== Starting dynamic disk selection ====="
MIN_SIZE=102400
for disk in /dev/sd[a-z]; do
    if [[ "$(cat /sys/block/$(basename $disk)/removable)" == "1" ]]; then
        continue
    fi
    size=$(lsblk -b -dn -o SIZE "$disk")
    size_mib=$((size / 1024 / 1024))
    echo "Checking $disk: $size_mib MiB"
    if [[ $size_mib -ge $MIN_SIZE ]]; then
        INSTALL_DISK="$disk"
        echo "Selected disk: $INSTALL_DISK"
        break
    fi
done
if [[ -z "$INSTALL_DISK" ]]; then
    echo "No suitable disk found. Aborting installation."
    exit 1
fi
echo "$INSTALL_DISK" > /tmp/install_disk
wipefs -f -a ${INSTALL_DISK}
dd if=/dev/zero of=${INSTALL_DISK} bs=1M count=400 conv=fdatasync
%end

%include /tmp/install_disk

ignoredisk --only-use=$(cat /tmp/install_disk)
clearpart --drives=$(cat /tmp/install_disk) --initlabel --disklabel=gpt

bootloader --boot-drive=$(cat /tmp/install_disk) --append="crashkernel=auto"
part biosboot --fstype="biosboot" --size=2 --ondisk=$(cat /tmp/install_disk)
part /boot --fstype="ext4" --ondisk=$(cat /tmp/install_disk) --size=2048 --label=boot
part /boot/efi --fstype="efi" --ondisk=$(cat /tmp/install_disk) --size=1024 --label=EFI
part pv.01 --fstype="lvmpv" --ondisk=$(cat /tmp/install_disk) --size=1024 --grow

volgroup rl_vgos pv.01
logvol /var/lib/libvirt --fstype="xfs" --size=1024 --grow --vgname=rl_vgos --name=kvm_pool1
logvol /     --fstype="ext4" --size=51200 --vgname=rl_vgos  --name=root
logvol /tmp  --fstype="ext4" --size=6144  --vgname=rl_vgos --name=tmp
logvol /var  --fstype="ext4" --size=10240 --vgname=rl_vgos --name=var
logvol swap  --fstype="swap" --size=16384 --vgname=rl_vgos --name=swap


##################################################################

# Packages
%packages
@^minimal-environment
#@guest-agents
#kernel-devel
cockpit          # cockpit package
cockpit-*        # cockpit-* subpackages
-setroubleshoot  # Remove SELinux troubleshoot GUI tools
-subscription-manager-cockpit # Remove Cockpit plugin
openssh-server   # SSH daemon
lsof             # list open files
nano             # text editor
rsync            # file sync/copy
strace           # trace syscalls
tar              # archive utility
tcpdump          # packet sniffer
bc               # calculator
cryptsetup       # LUKS/disk encryption
curl             # HTTP tool
dosfstools       # FAT filesystem tools
firewalld        # firewall
mlocate          # locate command
net-tools        # ifconfig, netstat (legacy tools)
parted           # partition tool
vim              # text editor
wget             # HTTP/FTP download
bash-completion  # Programmable completion for Bash
dos2unix         # Text file format converters
%end



# Post-install section
%post --log=/root/ks-post.log --interpreter=/bin/bash

# Enabling IOMMU for virtualization passthrough
echo "=== Enabling IOMMU for virtualization passthrough ==="
grubby --update-kernel=ALL --args="intel_iommu=on iommu=pt"
dracut -f

# /etc/hosts configuration
echo "172.28.150.150 kvm-node40.lab.local kvm-node40" >> /etc/hosts
echo "172.28.150.151 kvm-node41.lab.local kvm-node41" >> /etc/hosts
echo "172.28.153.150 kvm-node40-mig.lab.local kvm3-node40-mig" >> /etc/hosts
echo "172.28.153.151 kvm-node41-mig.lab.local kvm3-node41-mig" >> /etc/hosts

# Disable SELinux
sed -i 's/^SELINUX=enforcing/SELINUX=disabled/' /etc/selinux/config

# For additional safety, set passwords to expire immediately after first boot:
# chage -d 0 root
chage -d 0 sysadmin

# Turing on rc-local.service
chmod 755 /etc/rc.d/rc.local
systemctl enable rc-local.service


# Create runonce service
mkdir /root/bin
mkdir /mnt/cdrom/
mount -o loop /dev/sr0 /mnt/cdrom/
cp -rvf /mnt/cdrom/mydata/KVM_Install_Scripts /root/bin/ 
mv /root/bin/KVM_Install_Scripts/02_kvm_postconfig/02_kvm_postconfig_local.sh /root/bin/
chmod +x /root/bin/02_kvm_postconfig_local.sh
mv /root/bin/KVM_Install_Scripts/RPM /root/bin/
sudo find /root/bin/ -type f \( -name "*.sh" -o -name "*.cfg" \) -exec dos2unix {} \;

cat > /etc/systemd/system/runonce.service << EOF
[Unit]
Description=Run once
After=network-online.target

[Service]
Type=simple
ExecStart=/root/bin/02_kvm_postconfig_local.sh

[Install]
WantedBy=multi-user.target
EOF

# Enable runonce service
chmod +x /root/bin/02_kvm_postconfig_local.sh
systemctl daemon-reload
systemctl enable runonce.service


%end

# Reboot after install
reboot --eject