# ==============================================================================================
# Kickstart: ks-wipe-all.cfg
# Description: Anaconda Kickstart: Automated Wipe of All Disks and Installation of Rocky Linux / RHEL 9.x 
# Author: Mahdi Bahmani
# Date: 2025-08-28
# Usage: 
# =========================== 1. Boot with Kickstart over HTTP/HTTPS:===========================
#
# Boot your target machine from the Rocky Linux / RHEL ISO.
# At the GRUB menu:
#    Highlight Install Rocky Linux / RHEL.
#    Press e (UEFI/GRUB) or Tab (BIOS) to edit the kernel line.
#
# DHCP example:
# inst.ks=http://192.168.56.100/ks-wipe-all.cfg ip=dhcp
#
# or
# inst.ks=http://192.168.56.100/ks-wipe-all.cfg ip=dhcp ip=dhcp
#
# Static multi-NIC example:
# inst.ks=http://192.168.56.100/ks-wipe-all.cfg ip=172.28.150.130::172.28.150.1:255.255.255.0:kvm-node40.lab.local:ens33:none \
# ip=172.28.178.130::172.28.178.1:255.255.255.0:kvm-node01-data:ens224:none \
# ip=dhcp:ens256 nameserver=8.8.8.8
#
# Press Ctrl + x to boot.
# =========================== 2. Boot with Kickstart from USB: =================================
#
#    At the boot menu, hit e (UEFI) or Tab (BIOS). On the kernel line (linux or linuxefi), append:
#    
#    inst.ks=hd:LABEL=USBLABEL:/ks-wipe-sda.cfg
#
#    Replace USBLABEL with your USB’s label (check with blkid). Press Ctrl + x to boot.
#
# =========================== 3. Embed Kickstart into ISO: =====================================
#
#    At the boot menu, hit e (UEFI) or Tab (BIOS). On the kernel line (linux or linuxefi), append:
#    
#    inst.ks=cdrom:/ks-wipe-sda.cfg
#
#    Replace USBLABEL with your USB’s label (check with blkid). Press Ctrl + x to boot.
#
# ==============================================================================================


# version=RHEL9

# GUI/TUI: Use graphical install/ Use textual install
#graphical
text

# Do not configure the X Window System
skipx

# Installation Media: Use CDROM installation media
cdrom

# Keyboard Layout:
keyboard --xlayouts='us','de' --switch='grp:alt_shift_toggle'

# System Timezone
timezone Europe/Berlin --utc

# System Language
lang en_US.UTF-8 --addsupport=de_DE.UTF-8

# Network: Static
#network  --bootproto=static --device=ens33 --gateway=192.168.122.1 --ip=192.168.122.111 --nameserver=1.0.0.1,1.1.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
#network --hostname=autoinstall-preserve.lab.local

# Network: DHCP
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network --hostname=kvm40.lab.local

# Root password: Admin123456
rootpw --iscrypted --allow-ssh $6$uPZGY1HBsSEPyWz3$6jNM0XHTahIT0Q7Fa39hYAxpfW27764e0KsbjcVW3B34pTBzKglqjnVrs5qeVtkSG0SBrMQSv4dHas/6Gcp6l/

# Create User: sysadmin password: Admin123456
user --groups=wheel --name=sysadmin --password=$6$ioS1PzHEn8H6/fkn$2qtUUxrsaDEW.oRp1Cicc1Ju4iYF51mfID4eNekd2YvETjCVgrB87pAz4FjLD1De1rIvlo9X3jj.K7k8CKthD0 --iscrypted --gecos="sysadmin"

# SELinux configuration
selinux --disabled

# Enable SSH server
services --enabled="sshd,chronyd"
services --disabled="kdump"

# ==== WARNING PRE: wipe EVERYTHING (RAID/LVM/dm + all /dev/sd*) ====
%pre --interpreter=/usr/bin/bash --log=/root/anaconda-ks-pre.log

# Wait for udev to settle so all devices are visible
udevadm settle

# Remove any device-mapper devices (like old LVM or multipath)
dmsetup remove_all 2>/dev/null || true

# De-activate any existing Volume Groups
vgchange -an system
vgchange -an os

# Clear software raid devices if any
raid_devices=$(mktemp /tmp/mdstat.XXXXXXXXX)
cat /proc/mdstat | grep ^md | cut -d : -f 1 > $raid_devices

if [ -s $raid_devices ]; then
  for raid in $(cat $raid_devices); do
    wipefs -f -a /dev/$raid
    mdadm --stop -f /dev/$raid
    if [ $? != "0" ]; then
      udevadm settle
      dmsetup remove_all
      mdadm --stop -f /dev/$raid
    fi
  done
else
  echo "All raid devices are cleared"
fi

rm -vf $raid_devices

# Wipe any partitions if found
available_disks=$(mktemp /tmp/disks.XXXXXXXXX)
ls -r /dev/sd* > $available_disks

for disk in $(cat $available_disks); do
  wipefs -f -a $disk
done

rm -vf $available_disks

partprobe /dev/sda || true
udevadm settle

%end
##################  Disk policy: Use Only sda 100G ####################
# Install target is usually sda, vda, or nvme0n1; adjust all references below accordingly.
# This tells the installer: “Only use sda for installation; ignore all other disks.”
# Any other disks (like sdb, sdc) are completely untouched — no partitions will be modified.
ignoredisk --only-use=sda
#zerombr
# Clear all partitions on the disks being used and create a new partition table.”
#clearpart --all --initlabel
clearpart --drives=sda --initlabel --disklabel=gpt

bootloader --boot-drive=sda --append="crashkernel=auto"

# BIOS Boot Partition (required for GPT + Legacy BIOS)
part biosboot --fstype="biosboot" --size=2 --ondisk=sda

# Boot Partition
part /boot --fstype="ext4" --ondisk=sda --size=2048 --label=boot

# EFI Partition
part /boot/efi --fstype="efi" --ondisk=sda --size=1024 --fsoptions="umask=0077,shortname=winnt" --label=EFI

# OS Partition
part pv.os --fstype="lvmpv"   --ondisk=sda --size=92160

# DATA Partition --grow on pv.02 ensures it uses remaining space.
part pv.data --fstype="lvmpv"   --ondisk=sda --size=1024 --grow

# LVM: 
# Recommended value for PE (Physical Extent)
# LVM's default unit for --pesize is KiB (kilobytes).
## --pesize=4096 (4 MiB) is the default and recommended for most systems.
## --pesize=32768 (32 MiB) is suitable for large volumes, but less flexible.
## --pesize=1024 (1 MiB) offers more granularity for many small LVs.
## The value 4096 in this context refers to **kilobytes (KiB)**.
## This is equivalent to 4 MiB (mebibytes) and is the default value for the PE size.

# OS Volume Group
volgroup rl_vgos --pesize=4096  pv.os

# Data Volume Group for Data
volgroup rl_vgdata --pesize=4096 pv.data

# LVM: ( /, /home, /var, /tmp, swap, and /data on their own partitions)
# All sizes are in MB
# the sizes of the LVM LV's below require a disk with 86 GB
# Anaconda creates the LVs in reverse order; LVs listed at the end will be created first


logvol /home          --fstype="ext4" --size=10240    --vgname=rl_vgos --name=home        --fsoptions="nodev" --grow
logvol /              --fstype="ext4" --size=40960    --vgname=rl_vgos --name=root
logvol /var           --fstype="xfs"  --size=14336    --vgname=rl_vgos --name=var         --fsoptions="nodev"
logvol /tmp           --fstype="xfs"  --size=6144     --vgname=rl_vgos --name=tmp         --fsoptions="nodev,noexec,nosuid"
logvol swap           --fstype="swap" --size=16384    --vgname=rl_vgos --name=swap

# Logical Volumes inside rl_vgdata (your custom VG)
logvol /data         --fstype="xfs"  --size=51200  --vgname=rl_vgdata --name=lvdata --grow


###################### CIS-compliant ##############################
# LVM: LV - CIS-compliant (/home, /tmp, /var, /var/log, /var/log/audit and /var/tmp on their own partitions)
# all sizes are in MB
# the sizes of the LVM LV's below require a disk with 50 GB
# Anaconda creates the LVs in reverse order; LVs listed at the end will be created first

#logvol /home          --fstype="ext4" --size=10240    --vgname=rl_vgos --name=home          --fsoptions="nodev" --grow
#logvol /              --fstype="ext4" --size=30720    --vgname=rl_vgos --name=root
#logvol /var/log       --fstype="xfs"  --size=1024     --vgname=rl_vgos --name=var_log       --fsoptions="nodev,noexec,nosuid"
#logvol /var/log/audit --fstype="xfs"  --size=512      --vgname=rl_vgos --name=var_log_audit --fsoptions="nodev,noexec,nosuid"
#logvol /var/tmp       --fstype="xfs"  --size=1024     --vgname=rl_vgos --name=var_tmp       --fsoptions="nodev,noexec,nosuid"
#logvol /var           --fstype="xfs"  --size=6144     --vgname=rl_vgos --name=var           --fsoptions="nodev"
#logvol /tmp           --fstype="xfs"  --size=1024     --vgname=rl_vgos --name=tmp           --fsoptions="nodev,noexec,nosuid"
#logvol swap           --fstype="swap" --recommended   --vgname=rl_vgos --name=swap


##################################################################

# Packages
%packages
@^minimal-environment
#@guest-agents
#kernel-devel
cockpit          # cockpit package
cockpit-*        # cockpit-* subpackages
-setroubleshoot  # Remove SELinux troubleshoot GUI tools
-subscription-manager-cockpit # Remove Cockpit plugin
openssh-server   # SSH daemon
lsof             # list open files
nano             # text editor
rsync            # file sync/copy
strace           # trace syscalls
tar              # archive utility
tcpdump          # packet sniffer
bc               # calculator
cryptsetup       # LUKS/disk encryption
curl             # HTTP tool
dosfstools       # FAT filesystem tools
firewalld        # firewall
mlocate          # locate command
net-tools        # ifconfig, netstat (legacy tools)
parted           # partition tool
vim              # text editor
wget             # HTTP/FTP download
bash-completion  # Programmable completion for Bash
dos2unix         # Text file format converters
%end

# Post (optional, kept minimal)
%post --interpreter=/usr/bin/bash --log=/root/anaconda-ks-post.log --erroronfail

# Disable SELinux
sed -i 's/^SELINUX=enforcing/SELINUX=disabled/' /etc/selinux/config

# Enable CodeReady Builder repo (requires `epel-release` package).
/usr/bin/dnf config-manager --set-enabled crb

# /etc/hosts configuration
echo "172.28.150.150 kvm-node40.lab.local kvm-node40" >> /etc/hosts

# For additional safety, set passwords to expire immediately after first boot:
#chage -d 0 root
chage -d 0 sysadmin

# Turing on rc-local.service
chmod 755 /etc/rc.d/rc.local
systemctl enable rc-local.service

%end

# Reboot after install
reboot --eject
