# ==============================================================================================
# Kickstart: ks.cfg
# Description: Anaconda Kickstart: Automated non-destructive installation of Rocky Linux / RHEL 9.x
# Author: Mahdi Bahmani
# Date: 2025-08-28
# Usage: 
# =========================== 1. Boot with Kickstart over HTTP/HTTPS:===========================
#
# Boot your target machine from the Rocky Linux / RHEL ISO.
# At the GRUB menu:
#    Highlight Install Rocky Linux / RHEL.
#    Press e (UEFI/GRUB) or Tab (BIOS) to edit the kernel line.
#
# DHCP example:
# inst.ks=http://192.168.56.100/ks.cfg ip=dhcp
#
# or
# inst.ks=http://192.168.56.100/ks.cfg ip=dhcp ip=dhcp
#
# Static multi-NIC example:
# inst.ks=http://192.168.56.100/ks.cfg ip=172.28.150.130::172.28.150.1:255.255.255.0:kvm-node40.lab.local:ens33:none \
# ip=172.28.178.130::172.28.178.1:255.255.255.0:kvm-node01-data:ens224:none \
# ip=dhcp:ens256 nameserver=8.8.8.8
#
# Press Ctrl + x to boot.
# =========================== 2. Boot with Kickstart from USB: =================================
#
#    At the boot menu, hit e (UEFI) or Tab (BIOS). On the kernel line (linux or linuxefi), append:
#    
#    inst.ks=hd:LABEL=USBLABEL:/ks.cfg
#
#    Replace USBLABEL with your USB’s label (check with blkid). Press Ctrl + x to boot.
#
# =========================== 3. Embed Kickstart into ISO: =====================================
#
#    At the boot menu, hit e (UEFI) or Tab (BIOS). On the kernel line (linux or linuxefi), append:
#    
#    inst.ks=cdrom:/ks.cfg
#
#    Replace USBLABEL with your USB’s label (check with blkid). Press Ctrl + x to boot.
#
# ==============================================================================================

#version=RHEL9
#
# GUI/TUI: Use graphical install/ Use textual install
# Try graphical installer first
graphical
text

# Do not configure the X Window System
skipx

# Installation Media: Use CDROM installation media
cdrom

# Keyboard Layout:
keyboard --xlayouts='us','de' --switch='grp:alt_shift_toggle'

# System Timezone
timezone Europe/Berlin --utc

# System Language
lang en_US.UTF-8 --addsupport=de_DE.UTF-8

# Network: Static
#network  --bootproto=static --device=ens33 --gateway=192.168.122.1 --ip=192.168.122.111 --nameserver=1.0.0.1,1.1.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
#network --hostname=autoinstall-preserve.lab.local

# Network: DHCP
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network --hostname=kvm40.lab.local

# Root password
rootpw --iscrypted --allow-ssh $6$uPZGY1HBsSEPyWz3$6jNM0XHTahIT0Q7Fa39hYAxpfW27764e0KsbjcVW3B34pTBzKglqjnVrs5qeVtkSG0SBrMQSv4dHas/6Gcp6l/

# Create User: sysadmin
user --groups=wheel --name=sysadmin --password=$6$ioS1PzHEn8H6/fkn$2qtUUxrsaDEW.oRp1Cicc1Ju4iYF51mfID4eNekd2YvETjCVgrB87pAz4FjLD1De1rIvlo9X3jj.K7k8CKthD0 --iscrypted --gecos="sysadmin"

# SELinux configuration
selinux --disabled

# Enable SSH server
services --enabled="sshd,chronyd"
services --disabled="kdump"

%pre --interpreter=/usr/bin/bash 
%end
##################  Disk policy:  Auto        ####################

##################################################################

# Packages
%packages
@^minimal-environment
#@guest-agents
#kernel-devel
cockpit          # cockpit package
cockpit-*        # cockpit-* subpackages
-setroubleshoot  # Remove SELinux troubleshoot GUI tools
-subscription-manager-cockpit # Remove Cockpit plugin
openssh-server   # SSH daemon
lsof             # list open files
nano             # text editor
rsync            # file sync/copy
strace           # trace syscalls
tar              # archive utility
tcpdump          # packet sniffer
bc               # calculator
cryptsetup       # LUKS/disk encryption
curl             # HTTP tool
dosfstools       # FAT filesystem tools
firewalld        # firewall
mlocate          # locate command
net-tools        # ifconfig, netstat (legacy tools)
parted           # partition tool
vim              # text editor
wget             # HTTP/FTP download
bash-completion  # Programmable completion for Bash
dos2unix         # Text file format converters
%end

# Post (optional, kept minimal)
%post --interpreter=/usr/bin/bash --log=/root/anaconda-ks-post.log --erroronfail

# Disable SELinux
sed -i 's/^SELINUX=enforcing/SELINUX=disabled/' /etc/selinux/config

# Enable CodeReady Builder repo (requires `epel-release` package).
/usr/bin/dnf config-manager --set-enabled crb

# For additional safety, set passwords to expire immediately after first boot:
#chage -d 0 root
chage -d 0 sysadmin

# Turing on rc-local.service
chmod 755 /etc/rc.d/rc.local
systemctl enable rc-local.service

%end

# Reboot after install
reboot --eject
