[Unit]
Description=Configure OVS br1 ens161,ens256 br1-vlan151 NFS, br1-vlan152 iSCSI, br1-vlan153 KVM_VM_Migration kvm data network
After=network.target NetworkManager.service NetworkManager-wait-online.service openvswitch.service ovsdb-server.service ovs-vswitchd.service
Requires=openvswitch.service NetworkManager.service
Wants=NetworkManager-wait-online.service
PartOf=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 4
ExecStart=/usr/local/bin/ovs-br1-network.sh start
ExecStop=/usr/local/bin/ovs-br1-network.sh stop
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target


